$lff: "Quite Chocolatey";
$hff:"Montserrat", sans-serif;
$rclr: #C62314;
$mclr: #161616;
$hclr: #130e27;
@mixin btn ($clr){
   background: $clr;
   border: 3px solid $clr;
   border-radius: 5px;
   color: #fff;
   font-family: $hff;
   font-size: 1.1rem;
   margin-top: 35px;
   padding: 10px 0;
   width: 80%;
   &:hover{
      background-color: #fff;
      color: $clr;
   }
}
@font-face{
   font-family:"Quite Chocolatey";
   src:url("Quite_Chocolatey/Quite_Chocolatey.eot?") format("eot"),
   url("Quite_Chocolatey/Quite_Chocolatey.woff") format("woff"),
   url("Quite_Chocolatey/Quite_Chocolatey.ttf") format("truetype"),
   url("Quite_Chocolatey/Quite_Chocolatey.svg#QuiteChocolatey") format("svg");
   font-weight:normal;font-style:normal;
}

html{
   font-size: 20px;
}
body{
   font-family: "PT Serif";
   color: $mclr;
}
h1{
   color: $hclr;
   font-family: $hff;
   font-size: 4.5rem;
   font-weight: 700;
   letter-spacing: -2px;
   span{
      color: #fff;
   }
}
h2{
   font-family: $hff;
   font-size: 2.5rem;
   font-weight: 700;
}
a{
   color: #fff;
   &:hover{
      color: $mclr;
      text-decoration: none;
   }
   &.active{
      background-color: $mclr;
      border: $mclr 1px solid;
      border-radius: 5px;
   }
   &.active:hover{
      color: $rclr;
   }
}
header{
   background: url(img/Layer1.png) no-repeat center;
   background-size: cover;
   padding: 10px 0;
}
.brand{
   font-family: $lff;
   font-size: 4.4rem;
   letter-spacing: -2px;
}
.item{
   font-family: $hff;
   font-size: .9rem;
   padding: 10px 15px;
}
.header_content{
   padding: 100px 0;
}
.title{
   color: #fff;
   padding: 20px 0;
   width: 70%;
}
.our_services{
   padding: 45px;
   h2{
      color: $mclr;
      span{
         color: $rclr;
      }
   }
}
.services{
   padding: 95px 50px 50px 50px;
   text-align: center;
}
.services_image{
   height: 60%;
   width: auto;
   text-align: center;
}
.services_text{
   padding-top: 50px;
}
.our_story{
   background-color: #130E27;
   color: #fff;
   padding: 40px 0;
}
.story_text{
   padding-left: 190px;
}
.story_button{ 
   padding-right: 180px;
   text-align: center;
}
.button_text{
   color: #fff;
   font-family: $hff;
   font-size: 1.1rem;
   background-color: $rclr;
   border: 3px solid $mclr;
   border-radius: 5px;
   padding: 25px 75px;
   text-align: center;
}
.button_text:hover{ 
   color: $rclr;
   border: 3px solid $rclr;
   background-color: #fff;
}
.pricing{
   background: #EFEFEF;
   padding: 70px 0;
   h2{
      text-align: center;
   }
}
.card-wrap{
   margin-top: 60px;
   text-align: center;
   width: 32%;
   p{
      margin-bottom: 0px;
   }
}
.card-title{
   font-size: 1.1rem;
   padding-top: 30px;
}
.card-price{
   color: $rclr;
   font-family: $hff;
   font-size: 3rem;
   font-weight: 700;
   letter-spacing: -1px;
}
.popular{
   background-image: url(img/popular.png);
   background-repeat: no-repeat;
}
.black{
   @include btn($hclr);
}
.red{
   @include btn($rclr);
}
.testimonial{
   padding-top: 60px;
   h2{
      padding-bottom: 35px;
      text-align: center;
   }
}
.img-right{
   float: right;
   padding-right: 30px;
}
.test-text{
   margin-bottom: 0;
}
.test-sign{
   color: $hclr;
   font-family: $hff;
   padding: 20px 0;
}
.quote{
   padding-left: 40px;
}
.grey{
   background: url(img/bg-boy.png) no-repeat left;
   color: $rclr;
   padding-top: 20px;
}
.gallery{
   padding: 60px 0 40px 70px;
   text-align: center;
   h2{
      color: $rclr;
      padding-bottom: 35px;
   }
}
.gallery-img{
   text-align: right;
   margin-bottom: 40px;
   padding-left: 30px;
}
.photo{
   padding: 10px 0;
}
.img-round{
   border-radius: 50%;
}
.gallery-link{
   color: $hclr;
   font-family: $hff;
   text-align: center;
   text-decoration: underline;
}
footer{
   background: $hclr;
   padding: 50px 0;
}
.footer_text{
   color: #fff;
   padding-top: 35px;
   span{
      color: $rclr;
   }
}
.footer_logo{
   font-family: $lff;
   font-size: 3.2rem;
   text-align: right;
   a:hover{
   color: $rclr;
   }
}


            /* media */
@media screen and (max-width: 768px){
   h1{
      font-size: 3.5rem;
   }
   .title{
      width: 100%;
   }
   .story_text{
      padding: 20px;
   }
   .story_button{ 
      padding: 20px;
   }
   .card-wrap{
      width: 100%;
   }
   .grey{
      background-size: cover;
   }
   .gallery{
      padding: 50px 0;
   }
   .gallery-img{
      padding: 0 15px;
      text-align: center;
   }
}
@media screen and (max-width: 425px){
   .our_story{
      padding: 40px 0;
   }
   .footer_logo{
      text-align: center;
   }
}
@media screen and (max-width: 375px){
   h2{
      font-size: 2rem;
   }
   .brand{
      font-size: 3rem;
   }
   .services{
      padding: 20px;
      text-align: center;
   }
}